@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
  --font-sans: var(--font-body);
  --font-display: var(--font-display);
}

.body {
  @apply !text-[#121212];
}

input[type='text'].solid,
select.solid,
input[type='password'].solid,
input[type='number'].solid {
  @apply h-[53px] w-full rounded-[10px] border border-transparent bg-[#EAEAEA] px-[16px] focus:border-2 focus:border-[#AEAEB2] focus:ring-0 focus:outline-none;
}

input[type='text'].outlined,
select.outlined,
input[type='password'].outlined,
input[type='number'].outlined {
  @apply h-[53px] w-full rounded-[10px] border border-[#AEAEB2] bg-transparent px-[16px] focus:border-2 focus:ring-0 focus:outline-none;
}

.profile label {
  @apply pb-[7px] text-[14px] text-[#8E8E93];
}

.profile h1 {
  @apply text-[16px] font-bold;
}

.btn_black {
  @apply h-[53px] w-full cursor-pointer rounded-[10px] bg-[#121212] text-[15px] font-bold text-white uppercase;
}

.btn_outline {
  @apply mt-[12px] h-[53px] w-full cursor-pointer rounded-[10px] border border-[#121212] text-[15px] font-bold uppercase transition-colors duration-300;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}
.scrollbar-hide {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
